<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:name=".ShnoManoApp"
        android:allowBackup="true"
        android:label="شنو منو اتصال"
        android:supportsRtl="true"
        android:usesCleartextTraffic="false"
        android:theme="@style/Theme.ShnoManoCall">

        <activity android:name=".WebSectionActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".WebCallActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".SettingsActivity" android:exported="false" />
        <activity android:name=".RegisterActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".WelcomeActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".HomeActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".SafeMainActivity" android:exported="false" android:screenOrientation="portrait" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
